@import "node_modules/ol/ol.css";

/* Hauteur et marges du body et html */
html, body {
  margin: 0;
  padding: 0;      
  height: 100%;
  overflow-x: hidden;  
}

/* Positionnement du titre */
#title {  
  position: relative;
  top: -5px;
  left: 500px;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 24px;
}

/* Positionnement des noms */
#noms {  
  position: relative;
  top: -10px;
  left: 560px;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 20px;

}

/* Positionnement de la carte centrale */
#map {
  position: relative;
  display: block;
  width: calc(100% - 60px); /* marge de chaque coté de la carte*/
  height: 80vh;
  margin: 0 auto;
}

/* Styles communs pour tous les menus (chaque élement avec class=menu aura ces caractéristiques suivantes) */
.menu { 
  padding: 6px;                  
  min-height: 10px;              
  min-width: 100px;              
  background-color: rgba(248, 248, 248, 0.3); 
  border-radius: 8px;    
  font-size: 12px;
  font-family: system-ui, sans-serif;
  line-height: 1.3;     
}

/* Positionnement du menu des fonds de carte */
#fonddecarte {    
  position: absolute;
  bottom: 5px;
  right: 30px;
}

/* Positionnement du menu des couches */
#layers {    
  position: absolute;
  bottom: 235px;
  left: 30px;
}

/* Positionnement du menu des types de violences */
#violences {
  position: absolute;
  bottom: 120px;
  left: 30px;
}

/* Positionnement du menu des types de consultations */
#consultation {
  position: absolute;
  bottom: 5px;
  left: 30px;
}

/* Positionnement de la table attributaire */
#table {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 650px;
  transform: translateX(-50%);
  max-width: 400px;
  max-height: 250px;          
}

/* Positionnement du texte explicatif sous la carte */
#explication {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 16px;
  color: black;
  line-height: 1.4;
  margin: 10px 40px;  /* marge au dessus et à gauche/droite */
}


/* Positionnement et style de l'échelle */
.ol-scale-line {
  right: 350px;
  left: auto;
  bottom: 5px;
  background: none;
  border: none;
  padding: 0;
  font-size: 10px;
  font-family: system-ui, sans-serif;
  color: #444;
}

/* Positionnement de la légende et style du texte */
#legend {
  position: absolute;
  bottom: 5px;
  right: 200px;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Chaque ligne de légende */
.legend-item {
  display: flex;
  align-items: center; 
  gap: 6px;
}

/* stylisations de la légende des points "Transactions" */
.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #107a00;
  border: 1px solid black;
  margin-left: 7px;
}

/* Stylisations de la légende des petits cercles */
.legend-circle.small {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(39, 174, 96, 0.6);
  border: 1px solid rgba(20, 90, 50, 0.8);
  margin-left: 8.5px;
}

/* Stylisations de la légende des moyens cercles */
.legend-circle.medium {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(39, 174, 96, 0.6);
  border: 1.2px solid rgba(20, 90, 50, 0.8);
  margin-left: 4px;
}

/* Stylisations de la légende des grands cercles */
.legend-circle.large {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(39, 174, 96, 0.6);
  border: 1.2px solid rgba(20, 90, 50, 0.8);
}


/* Paramètres pour que les menus ne bougent plus en fonction de la page, qu'ils soient fixés à la carte ET au-dessus de toutes les couches OL*/
.menu,#legend-points,
#legend-cercles {
  position: absolute;
  z-index: 2000;  
  pointer-events: auto;
}